<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
</head>
<body>
    <form method="post" action="/auth/signin">
        <label for="username">사용자이름</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">비밀번호</label>
        <input type="password" name="password" id="password">
        <button>로그인</button>
    </form>
    <button type="button" onclick="location.href='/oauth2/authorization/google';">Google</button>
    <button type="button" onclick="location.href='/oauth2/authorization/naver';">Naver</button>
</body>
</html>